@import "tailwindcss";

@layer base {
    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        scrollbar-width: thin;
        scrollbar-color: rgba(193, 193, 193, 0.5) #f1f1f100;
        scroll-behavior: smooth;
    }
}

:root {
    --color-1: #f5e900;
    --color-2: #000000;
    --color-3: #313131;
    --color-4: #212121;

    --hover-1: #d5cb00;
    --hover-3: #3f3f3f;
    --hover-4: #303030;

    --shadow: 0px 5px 17px -1px rgba(255, 255, 255, 0.18);
}